.center_container
  .content_container
    .page_head
      %h2 Contact us
      %h4 Lorem ipsum dolor sit amet, ea eam idque admodum vituperata. In prima partiendo dissentiunt eam, quaestio dissentiunt vix id. Ei pri vitae detraxit, vel electram reprehendunt in, paulo salutatus reprehendunt eos at. 
    .form_style
      = render "form"
    .contact_image
      %img{:src => "wine.jpg"}
    .page_body
      %p Lorem ipsum dolor sit amet, ea eam idque admodum vituperata. In prima partiendo dissentiunt eam, quaestio dissentiunt vix id. Ei pri vitae detraxit, vel electram reprehendunt in, paulo salutatus reprehendunt eos at. Duo labore facete at, usu mazim eligendi partiendo ne.Ad vix clita saepe signiferumque, sed modo dicit veniam an, vel minimum definiebas ut. Ne eam placerat vituperata. Illum animal qui ad, prima veritus mea et. Congue vocent periculis ea sed, te pri vitae indoctum. Voluptua ocurreret repudiandae qui id.
