.outer_footer
  .footer_container
    %footer.footer
      = image_tag("footer_logo.png")
      %ul.address
        %li AJN Multiservices Ltd
        %li The White House
        %li Dereham
        %li Norfolk
        %li NR19 1DR
        %li
        %li info@servicemasternorwich.co.uk
        %li 01760 441 932
      %ul.footer_menu
        %li
          %a{:href => "services_commercial_cleaning_path"} Commercial cleaning
        %li
          %a{:href => "services_deep_cleaning_path"} Deep Cleaning
        %li
          %a{:href => "services_hard_floors_path"} Hard floors
        %li
          %a{:href => "services_leather_cleaning_path"} Leather cleaning
      %ul.footer_menu
        %li
          %a{:href => "services_carpet_cleaning_path"} Carpet cleaning
        %li
          %a{:href => "services_upholstery_cleaning_path"} Upholstery cleaning
        %li
          %a{:href => "services_curtain_cleaning_path"} Curtain cleaning
        %li
          %a{:href => "services_fast_drying_path"} Fast drying
      %p &copy; ServiceMaster Norfolk 2015. All Rights Reserved.
